<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- BootsWatch library for bootstrap+theaming -->
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">

    <title> {% block title %} {% endblock title %} - ToDoList</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid col-3 text-center">
            <H4><b>TODO List Manager - Flask</b></H4>
        
            </div>
        </div>
    </nav>
{% block body %}
    
{% endblock body %}
</body>

</html>